body {
  padding: 0;
  margin: 0;
  padding-top: 10%;
  font-family: Cambria, Cochin, Georgia, times, "Times New Roman", serif;
  background: -webkit-linear-gradient(left bottom, #253648, #75516a);
  user-select:none;
}

.container {
  margin: 0 auto;
  width: 400px;
}

.img-container {
  width: 400px;
  height: 230px;
}

.img-container img {
  width: 400px;
  height: 230px;
  border-radius: 7px 7px 0 0;
}

.title-container {
  text-align: center;
  background-color: #fff;
  border-radius: 0 0 8px 8px;
  margin-bottom: 20%;
}

.title-container .title {
  padding: 20px 0 20px;
  margin: 0;
}

.title-container .input-item {
  width: 300px;
  height: 40px;
  border: 0;
  border-bottom: 1px solid #b3c0c7;
  font-size: 15px;
  outline: none;
}
.title-container .btn{
  margin: 20px auto 0;
  width: 200px;
  padding: 10px;
  background-image: linear-gradient(to right, #253648, #75516a);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

/* .title-container hr {
  border: 0;
  height: 1px;
  margin: 0 40px;
  background-color: #b3c0c7;
} */

.title-container .icon {
  padding: 20px 0 60px 0;
}

.title-container .icon ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.title-container .icon li {
  display: inline-block;
  border: 1px solid #000;
  padding: 10px;
  border-radius: 25px;
  cursor: pointer;
  border-color: #4f5c63;
  color: #4f5c63;
  font-size: 20px;
}

.title-container .icon li:hover {
  color: #b3c0c7;
  border-color: #b3c0c7;
  transition: .2s;
}
